{% extends "core/base.html" %}

{% block title %}Decryption{% endblock %}

{% block main %}
    <div class="user_output_data_block">
        <h3 align="center">
            Unicode Text Decryption
            <button onclick="window.location.href = '{% url "crypto:decrypt_help" %}';">Справка по расшифрованию</button>
        </h3>
        <p>Тип шифра и используемый алгоритм контроля<br> целостности определяется автоматически<br> из метаданных тегов шифротекта</p>
        <form name="user_data_decryption_form" method="POST">
            {% csrf_token %}
            <input type="password" name="user_password" placeholder="Пароль" id="password_input" autocomplete="off"><br><br>
            <textarea name="msg" cols="45" rows="12" placeholder="JSON зашифрованного текста"></textarea><br><br>
            <input type="submit" value="Расшифровать">
        </form>
        <div class="text"> {{ text }} </div>
        <div class="msg"> {{ msg }}</div>
        <div class="text"> {{ checked }}</div>
    </div>
{% endblock %}