{% extends "core/base.html" %}

{% block title %}Hashing{% endblock %}

{% block main %}
    <div>
        <h1 class="mt-3">Хэширование и контрольные суммы</h1>
        <form action="{% url 'crypto:hashing' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="inputCRC">Алгоритм вычисления контрольной суммы:</label>
                <select name="check_sum_algorithm" id="inputCRC" class="form-control" required>
                    <option disabled selected>Выберите алгоритм...</option>
                    <option value="CRC16">CRC16 (modbus)</option>
                    <option value="CRC24">CRC24</option>
                    <option value="CRC32">CRC32</option>
                    <option value="FLETCHER">FLETCHER</option>
                </select>
            </div>
            <div class="form-group">
                <label for="inputText">Текст:</label>
                <textarea name="msg" rows="12" class="form-control" id="inputText" placeholder="Напишите текст для вычисления..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Вычислить</button>
        </form>

        <div class="text"> {{ text }} </div>
        <div class="msg"> {{ msg }}</div>
        <div class="text"> {{ jsonText }}</div>
        <pre class="json"> {{ json }} </pre>
    </div>
{% endblock %}